@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
  margin: 0;
  font-family: 'ZCOOL KuaiLe', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  background-color: #055160;
  color: #fff;

  .swiper {
    &-slide {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 25px;
    }
  
    &-button {
      &-next,
      &-prev {
        bottom: 10%;
        top: auto;
        color: #fff;
        transform: scale(0.65);
        width: 50px;

        @media screen and (min-width: 992px) {
          transform: scale(1);
          width: 100px;
        }
      }
    }

    &-pagination-bullet {
      background: #fff;
      width: 30px;
      height: 10px;
      border-radius: 10px;
    }
  }
}

.intro {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    margin: auto;

    h2 {
      font-size: 36px;
      margin-bottom: 15px;
      width: 100%;
  
      @media screen and (min-width: 992px) {
        font-size: 50px;
        margin-bottom: 25px;
      }
    }

    a {
      text-decoration: none;
    }

    p {
      line-height: 25px;
      font-size: 16px;
      letter-spacing: 1px;
  
      @media screen and (min-width: 992px) {
        line-height: 35px;
        font-size: 20px;
      }

      ul {
        list-style-type: cjk-ideographic;

        li {
          padding-left: 25px;
        }
      }
    }

    .btn {
      width: 31.5px;
      line-height: 10px;
      padding: 10px;
      font-size: 14px;
      font-weight: 700;
      margin: 2px;
      border-radius: 2.5px;
    }
  }
}

.game {
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #055160;
}

.modal {
  display: flex;
  background-color: rgba($color: #055160, $alpha: .8);
  animation: fadeIn 1.5s ease-in-out alternate forwards;

  a {
    text-decoration: none;
  }

  &-dialog {
    margin: auto;
  }

  &-content {
    min-width: 360px;
    background-color: #055160;
    border: 2px solid #ffc720;
    border-radius: 5px;

    h3,
    h6,
    p {
      color: #fff;
    }

    .btn {
      color: #000;

      &.--initial {
        box-shadow: none;
        text-decoration: none;
      }
    }

    .board__number {
      width: 100%;
    }
  }
}

.btn {
  width: 31.5px;
  line-height: 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  margin: 2px;
  border-radius: 2.5px;

  &:hover {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
    box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
  }

  &:focus {
    box-shadow: none;
  }

  &.--zero {
    font-size: 0;
  }

  &.--dragover {
    box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
    background-color: rgba(#ffca2c, 0.5);
  }

  &.--initial {
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 1);
    text-decoration: underline;
  }
}

.board {
  &__layout {
    max-width: 350px;
    height: fit-content;
    margin: auto;
  }

  &__section {
    width: 31.9%;
    padding: 5px;
    margin: 2.5px;
  }

  &__number {
    display: flex;
    justify-content: center;
    width: 33.33%;
  }

  &__clipboard {
    position: absolute;
    background: #09869e;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: scale(1);  
  }
}